<header class="header" id="header">
  <ul class="header__list">
    <li class="header__item">
      <a href="#aboutMe" class="header__link">sobre mí</a>
    </li>
    <li class="header__item">
      <a href="#tecnologies" class="header__link" >tecnologías</a>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">proyectos</a>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">contacto</a>
    </li>
  </ul>
</header>

<main class="main" >
  <section class="aboutMe" id="aboutMe">
    <div class="aboutMe__img">
      <img src="../assets/images/perfilPicure.jpg" alt="imagenPropia" class="aboutMe__img--perfil">
    </div>
    <div class="aboutMe__info">
      <h2 class="aboutMe__title">nicolas morzán</h2>
      <h4 class="aboutMe__subTitle"> ingeniero electromecanico y programador</h4>
      <p class="aboutMe__text">
        Hola! soy Nicolás Morzán ingeniero electromecanico con tres años de experiencia en la industria, liderando equipos de montaje y desarrollando sistemas para líneas de producción programando PLC (programadores lógicos controlables).
      </p>
      <p class="aboutMe__text">
        También soy programador web fullstack desde hace un año, utilizo tecnologias <strong>JavaScript</strong> de última generación.
      </p>
      <p class="aboutMe__text">
        Debajo detallo algunos de los trabajos en los que participé y estoy participando, además,  las tecnologias y conocimientos obtenidos.
      </p>
      <p class="aboutMe__thanks"><strong>gracias por tu visita !!!</strong></p>
    </div>
  </section>
  <section class="tecnologies" id="tecnologies">
    <h2 class="tecnologies__title">tecnologías y técnicas</h2>
    <ul class="tecnologies__list">
      <li class="tecnologies__item">
        <img class="tecnologies__img" src="../assets/images/javaScript.png" alt="Js">
        <h4 class="tecnologies__subTitle">JavaScript</h4>
      </li>
      <li class="tecnologies__item">
        <img class="tecnologies__img" src="../assets/images/html5.png" alt="html5">
        <h4 class="tecnologies__subTitle">html</h4>
      </li>
      <li class="tecnologies__item">
        <img class="tecnologies__img" src="../assets/images/css.png" alt="css">
        <h4 class="tecnologies__subTitle">css</h4>
      </li>
      <li class="tecnologies__item">
        <img class="tecnologies__img" src="../assets/images/nodeJs.png" alt="nodeJs">
        <h4 class="tecnologies__subTitle">nodejs</h4>
      </li>
      <li class="tecnologies__item">
        <img class="tecnologies__img" src="../assets/images/angularJs.png" alt="Angular">
        <h4 class="tecnologies__subTitle">angular</h4>
      </li>
      <li class="tecnologies__item">
        <img class="tecnologies__img" src="../assets/images/sass.png" alt="Sass">
        <h4 class="tecnologies__subTitle">sass</h4>
      </li>
    </ul>
  </section>
</main>
<router-outlet></router-outlet>
